In [9]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [1]:
import pandas as pd
import numpy as np

In [10]:
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 1000)

In [4]:
df = pd.read_excel("Input - NEET Opening Closing 2020.xlsx")

In [11]:
df.head(20)

,"Admissions to Health Science Courses, 2020-2021",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,NaN,NaN,NaN,NaN,NaN,Quotawise List of Last Admitted Candidates In ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Sr Code College Name,NaN,SC,ST,VJ,NT1,NT2,NT3,OBC,EWS,OPEN,D1,D2,D3,PH,MKB,NaN
2,1,"01101 GMC, MUMBAI",S :,47384,180913,22048,32096,12268,7007,12081,13670,8971,20470,4111,9448,624419,33135,NaN
3,NaN,NaN,M :,552,404,595,577,618,635,619,615,629,599,649,627,164,575,NaN
4,2,"01102 Tilak MC, MUMBAI",S :,60922,261328,36398,39169,22834,11428,14492,15409,8305,30897,14019,22912,726401,NaN,NaN
5,NaN,NaN,M :,533,340,569,565,594,621,612,610,631,579,614,594,135,NaN,NaN
6,3,"01103 GSMC, MUMBAI",S :,29063,147045,7264,26937,8618,3798,5545,4941,2669,3971,5745,8296,620669,NaN,NaN
7,NaN,NaN,M :,582,435,635,586,630,650,641,645,657,650,641,631,165,NaN,NaN
8,4,"01104 Nair MC, MUMBAI",S :,56795,253139,17825,42232,16036,10666,9506,12792,8609,27720,9051,18551,532883,NaN,NaN
9,NaN,NaN,M :,539,346,605,560,609,623,627,617,630,585,628,603,197,NaN,NaN
10,5,"01109 RGMC KALVA, THANE",S :,72172,269328,43343,67581,37511,16730,21200,20828,12484,37711,23751,38054,731222,NaN,NaN
11,NaN,NaN,M :,518,335,558,524,567,607,597,598,618,567,592,567,133,NaN,NaN
12,6,"01110 BJMC, PUNE",S :,55684,140466,34772,51451,21820,9881,12789,14474,7296,23049,12775,11206,522516,23070,NaN
13,NaN,NaN,M :,540,441,572,546,596,626,617,612,635,593,617,621,201,593,NaN
14,7,"01114 V M MC, SOLAPUR",S :,84587,238220,63566,82390,37430,21601,25850,26482,20361,50754,27482,24549,627977,77446,NaN
15,NaN,NaN,M :,502,357,529,505,568,596,588,587,599,547,585,591,163,511,NaN
16,8,"01115 GMC, MIRAJ",S :,92140,240855,66194,77389,34272,24844,29693,27311,21929,47798,40536,64637,774731,80046,NaN
17,NaN,NaN,M :,493,355,526,511,573,590,581,585,596,552,562,528,122,508,NaN
18,9,"01119 B HIRE MC, DHULE",S :,100221,280419,70588,87916,43407,36341,35122,34764,30675,59671,52841,72813,794117,NaN,NaN
19,NaN,NaN,M :,484,327,520,498,558,569,571,572,579,535,544,517,118,NaN,NaN