In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 1000)

In [72]:
df = pd.read_excel("Input - NEET Opening Closing 2020.xlsx")
# df.head(60)

In [73]:
# Delete all the records where first column value contains "LEGEND"
df.drop(df[df['Unnamed: 0'].str.contains('LEGEND', na=False)].index, inplace = True)

In [74]:
df.loc[pd.to_numeric(df['Unnamed: 0'].fillna(0), errors='coerce').isna(), 'Unnamed: 0']

0      Admissions to Health Science Courses, 2020-2021
55     Admissions to Health Science Courses, 2020-2021
96     Admissions to Health Science Courses, 2020-2021
109    Admissions to Health Science Courses, 2020-2021
164    Admissions to Health Science Courses, 2020-2021
211    Admissions to Health Science Courses, 2020-2021
271    Admissions to Health Science Courses, 2020-2021
326    Admissions to Health Science Courses, 2020-2021
386    Admissions to Health Science Courses, 2020-2021
431    Admissions to Health Science Courses, 2020-2021
452    Admissions to Health Science Courses, 2020-2021
465    Admissions to Health Science Courses, 2020-2021
525    Admissions to Health Science Courses, 2020-2021
580    Admissions to Health Science Courses, 2020-2021
603    Admissions to Health Science Courses, 2020-2021
616    Admissions to Health Science Courses, 2020-2021
676    Admissions to Health Science Courses, 2020-2021
736    Admissions to Health Science Courses, 2020-2021
796    Admissions to Health Science Courses, 2020-2021
852    Admissions to Health Science Courses, 2020-2021
Name: Unnamed: 0, dtype: object

In [75]:
colleges = df.loc[pd.to_numeric(df['Unnamed: 0'].fillna(0),errors='coerce').isna(),'Unnamed: 0'].index.values.tolist()
len(colleges)

20

In [76]:
# Name of the course and type of the college
course_college_type = df[colleges[0]:colleges[1]].loc[1, 'Unnamed: 5']
print(f"course_college_type string:   {course_college_type}")

course = course_college_type.split("  ")[1]
college_type = course_college_type.split("  ")[2]

print(f"Course:                       {course}")
print(f"College Type:                 {college_type}")

course_college_type string:   Quotawise List of Last Admitted Candidates In  M.B.B.S.  GOVERNMENT/AIDED COLLEGES
Course:                       M.B.B.S.
College Type:                 GOVERNMENT/AIDED COLLEGES

In [104]:
# dropping the first column from the dataframe
# df.drop('Unnamed: 0', axis=1, inplace=True)

# dropping the first three rows from the dataframe
df.drop([0, 1, 2], inplace = True )

In [105]:
df1 = df[colleges[0]:colleges[1] - 2]
df1 = df1.iloc[:, 2:]
df1.replace(np.NaN, 'N/A', inplace=True)
df1.reset_index(drop=True, inplace=True)
# len(df1)
df1

,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,47384,180913,22048,32096,12268,7007,12081,13670,8971,20470,4111,9448,624419,33135,N/A
1,552,404,595,577,618,635,619,615,629,599,649,627,164,575,N/A
2,60922,261328,36398,39169,22834,11428,14492,15409,8305,30897,14019,22912,726401,N/A,N/A
3,533,340,569,565,594,621,612,610,631,579,614,594,135,N/A,N/A
4,29063,147045,7264,26937,8618,3798,5545,4941,2669,3971,5745,8296,620669,N/A,N/A
5,582,435,635,586,630,650,641,645,657,650,641,631,165,N/A,N/A
6,56795,253139,17825,42232,16036,10666,9506,12792,8609,27720,9051,18551,532883,N/A,N/A
7,539,346,605,560,609,623,627,617,630,585,628,603,197,N/A,N/A
8,72172,269328,43343,67581,37511,16730,21200,20828,12484,37711,23751,38054,731222,N/A,N/A
9,518,335,558,524,567,607,597,598,618,567,592,567,133,N/A,N/A
10,55684,140466,34772,51451,21820,9881,12789,14474,7296,23049,12775,11206,522516,23070,N/A
11,540,441,572,546,596,626,617,612,635,593,617,621,201,593,N/A
12,84587,238220,63566,82390,37430,21601,25850,26482,20361,50754,27482,24549,627977,77446,N/A
13,502,357,529,505,568,596,588,587,599,547,585,591,163,511,N/A
14,92140,240855,66194,77389,34272,24844,29693,27311,21929,47798,40536,64637,774731,80046,N/A
15,493,355,526,511,573,590,581,585,596,552,562,528,122,508,N/A
16,100221,280419,70588,87916,43407,36341,35122,34764,30675,59671,52841,72813,794117,N/A,N/A
17,484,327,520,498,558,569,571,572,579,535,544,517,118,N/A,N/A
18,91795,269799,63353,86689,40125,28002,30276,N/A,23483,50260,40697,39087,700745,56693,N/A
19,494,334,530,500,563,584,580,N/A,593,548,562,565,141,539,N/A
20,66493,238985,42156,56817,25830,13545,17736,18834,10861,38125,10047,25958,703864,N/A,N/A
21,525,357,560,539,588,615,605,602,622,566,625,588,140,N/A,N/A
22,101954,280290,71219,91384,46023,35914,36330,36073,32363,69468,54543,42262,743676,N/A,N/A
23,482,327,519,494,554,570,570,570,576,521,542,560,130,N/A,N/A
24,91605,255818,58641,71176,37392,29144,30811,N/A,23597,55716,65487,74645,740871,N/A,N/A
25,494,344,536,519,568,582,579,N/A,592,540,527,515,130,N/A,N/A
26,106288,281689,69919,96934,46780,37312,37747,N/A,35547,70916,64634,50007,103198,N/A,N/A
27,477,326,521,488,553,568,567,N/A,571,520,528,548,480,N/A,N/A
28,49810,161267,43755,34052,32305,16311,16152,21001,13731,42295,14681,38640,670022,N/A,N/A
29,549,421,558,573,576,608,608,598,615,560,612,566,150,N/A,N/A
30,60786,203085,47367,53233,37245,22860,19956,27056,19307,45052,17705,76068,691224,N/A,N/A
31,533,385,552,544,568,594,600,586,601,556,605,513,144,N/A,N/A
32,93092,267396,67621,82274,44844,35861,32223,35096,31209,64589,41953,60607,683404,N/A,N/A
33,492,336,524,505,556,570,576,571,578,528,560,533,146,N/A,N/A
34,92227,266876,64638,84244,44628,28463,28253,33975,29876,63838,45563,81426,656751,85671,N/A
35,493,336,528,503,556,583,584,573,581,529,555,506,154,501,N/A
36,98013,268425,69374,87348,46897,36360,35386,37015,33495,68866,55803,82772,807072,N/A,N/A
37,486,335,522,499,553,569,571,568,574,522,540,505,115,N/A,N/A
38,103247,280677,69446,93651,47139,37508,36827,37208,35097,70307,66007,84774,817179,N/A,N/A
39,480,327,521,492,552,567,569,568,571,520,526,502,113,N/A,N/A
40,91463,242366,61208,82960,42326,34212,30914,N/A,23898,N/A,N/A,N/A,27574,N/A,N/A
41,494,354,533,504,560,573,579,N/A,592,N/A,N/A,N/A,585,N/A,N/A
42,72509,262891,41958,65944,27275,15845,20506,22174,14738,43659,41498,20168,708246,33307,N/A
43,517,339,560,526,585,609,599,595,612,558,561,600,139,575,N/A
44,90250,249482,58747,63241,40961,32261,31266,29857,25368,56409,41793,44409,805573,N/A,N/A
45,496,349,536,530,562,576,578,581,589,539,560,557,115,N/A,N/A
46,96553,264005,58038,89565,41406,32070,34491,32642,30095,65302,51457,60974,679346,N/A,N/A
47,488,338,537,496,561,577,572,576,580,527,546,533,147,N/A,N/A
48,94767,252981,65011,78994,37621,32427,33071,N/A,28262,60309,51823,64733,643828,88030,N/A
49,490,346,527,509,567,576,575,N/A,584,534,546,528,158,498,N/A
50,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A
51,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A
52,Quotawise List of Last Admitted Candidates In ...,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A

In [61]:
# rankings AIR
rankings = df1.iloc[0, :].tolist()

# marks obtained 
marks = df1.iloc[1, :].tolist()

In [78]:
df1 = df[colleges[0]:colleges[1] - 2]
college_names = df1["Unnamed: 1"].tolist()
output = []

for i in range(len(df1["Unnamed: 1"].tolist())):
    if pd.isna(college_names[i]):
        continue
    if pd.isna(college_names[i + 1]) and college_names[i].split(" ")[0].isnumeric():
        output.append(college_names[i])
        print(college_names[i])
    elif not college_names[i].split(" ")[0].isnumeric():
        continue
    else:
        output.append(college_names[i] + ' ' + college_names[i+1])
        print(college_names[i] + ' ' + college_names[i+1])

01101 GMC, MUMBAI
01102 Tilak MC, MUMBAI
01103 GSMC, MUMBAI
01104 Nair MC, MUMBAI
01109 RGMC KALVA, THANE
01110 BJMC, PUNE
01114 V M MC, SOLAPUR
01115 GMC, MIRAJ
01119 B HIRE MC, DHULE
01132 GMC, KOLHAPUR
01140 HBT & COOPER MC, JUHU, MUMBAI
01149 GMC, JALGAON
01150 GMC, BARAMATI
01151 GMC, NANDURBAR
01221 GMC, NAGPUR
01222 IGMC, NAGPUR
01226 VNMC, YEOTMAL
01234 GMC AKOLA,
01241 CGMC, CHANDRAPUR
01242 GGMC, GONDIA
01248 MGIMS MC, SEVAGRAM,WARDHA
01327 GMC, AURANGABAD
01328 GMC, NANDED
01329 SRTR MC, AMBAJOGAI
01333 GMC LATUR,

In [99]:
len(output)

25

In [118]:
categories = df1.loc[2, 'Unnamed: 3':].tolist()
categories.remove(np.nan)

In [86]:
# Total 15 categories
categories = ['SC', 'ST', 'VJ', 'NT1', 'NT2', 'NT3', 'OBC', 'EWS', 'OPEN', 'D1', 'D2', 'D3', 'PH', 'MKB', 'NRI']

# Serial Numbers
serial_numbers = [i for i in range(15)]

In [49]:
# Total 8 columns for the output excel sheet
columns = ['Sr. No.', 'Code', 'College Name', 'Category', 'S - AIR', 'M - Marks Obtained', 'Course', 'College Typpe']

In [50]:
# final dataframe
final = pd.DataFrame(columns=columns)

In [ ]:
df = df_original.copy(deep=True)

for i in range(len(colleges)):
    
    # Name of the course and type of the college
    course_college_type = df[colleges[0]:colleges[1]].loc[1, 'Unnamed: 5']
    course = course_college_type.split("  ")[1]
    college_type = course_college_type.split("  ")[2]
    
    # dropping the first column from the dataframe
    df.drop('Unnamed: 0', axis=1, inplace=True)

    # dropping the first three rows from the dataframe
    df.drop([0, 1, 2], inplace = True )
    
    df1 = df[colleges[0]:colleges[1] - 2]
    
    college_names = df1["Unnamed: 1"].tolist()
    
    df1 = df1.iloc[:, 2:]
    df1.replace(np.NaN, 'N/A', inplace=True)
    df1.reset_index(drop=True, inplace=True)
    
    output = []

    for i in range(len(college_names)):
        if pd.isna(college_names[i]):
            continue
        
        if pd.isna(college_names[i + 1]) and college_names[i].split(" ")[0].isnumeric():
            output.append(college_names[i])
        elif not college_names[i].split(" ")[0].isnumeric():
            continue
        else:
            output.append(college_names[i] + ' ' + college_names[i+1])
        
        total = len(output) * 2
        i = 0
        
        for item in output:

            if item.split(" ")[0].isnumeric() and item.split(" ")[1].isnumeric():
                college_code = item.split(" ")[1]
                college_name = "".join(item.split(" ")[2:])
            else:
                college_code = item.split(" ")[0]
                college_name = "".join(item.split(" ")[1:])

            college_name = [college_name] * 15
            college_code = [college_code] * 15
            course = [course] * 15
            college_type = [college_type] * 15
    
            # rankings AIR
            rankings = df1.iloc[0, :].tolist()

            # marks obtained 
            marks = df1.iloc[1, :].tolist()
            
            new_df = pd.DataFrame(list(zip(serial_numbers, college_code, college_name, categories, rankings, marks, course, college_type)), columns=columns)
            new_df